h1 {
    text-align: center;
}

img {
    border: 5px solid #fff;
    width: 200px;
    height: 200px;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
    background-color: #54a4f4;
}

td {
    margin: 10px;
    border: 1px solid #000000;
    font-size: 18px;
    text-align: center;
}

p {
    font-size: 9pt;
    font-weight: bold
}

#parrafoRojo {
    color: red;
}

form {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #e0e0e0; /* gris */
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 8px;
}