body {
    font-family: Verdana;
    font-size: 10pt;
    background-color: rgb(0,128,128);
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 18pt;
    color: white;
}

h2 {
    font-size: 11pt;
    color: white;
}

form {
    background-color: rgb(192,192,192);
    font: bold 12pt Verdana;
    padding: 15px;
    width: 550px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

fieldset {
    margin: 15px 0;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    font-weight: normal;
    font-size: 11pt;
}

p {
    margin: 6px 0;
}
